 .zoom_pictureFrame{
    width: 700px; 
    background-color: #ffffff;
    height: 500px;
    border: 6px solid black;
    position: fixed;
    z-index:9999;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 6px 6px 5px #888;
    -webkit-box-shadow: 6px 6px 5px #888;
    box-shadow: 6px 6px 5px #888;
    padding: 10px;
    display:inline-block;
    text-align:center;
    margin-left: auto;
    margin-right: auto; 
    overflow: hidden; 
  }
  
  .zoom_thumbs{
    width: 100%;
    height: 120px;
    opacity: .6;
    filter:alpha(opacity=60);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index:1;
  }
  
  .zoom_main{
    text-align: center; 
  } 
  
  .zoom_overlay{
    width:100%;
    height: 100%;
    margin:0; 
    padding:0;
    opacity: .6;
    filter:alpha(opacity=60);
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color:#999999;
    background-image: url(steel.jpg);
  }
  
  .zoom_main img{position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;}
  
  .zoom_close{
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width:auto;
    z-index: 2;
  }
  
  .zoom_close a{
    color: #6E6E6E;
  }