 .zoom_pictureFrame{
    width: 750px; 
    background-color: #ffffff;
    height: 620px;
    border: 6px solid black;
    position: fixed;
    z-index:9999;
    moz-border-radius: 2px;
    webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 15px 15px 10px #888;
    -webkit-box-shadow: 15px 15px 10px #888;
    box-shadow: 15px 15px 10px #888;
    padding: 10px;
    display:inline-block;
    text-align:center;
    margin-left: auto;
    margin-right: auto; 
    overflow: hidden; 
    padding:0px;
    margin:0px;
  }
  
  .zoom_thumbs{
    height: 120px;
    position: relative;         
    float:left;
    overflow: hidden;
    padding:0px;
    margin:0px;
    text-align:center;
    vertical-align: middle;
    box-shadow: 0 0 4px rgba(0, 0, 0, 2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 2);
    z-index:100;
  }
  
  .zoom_main{
    text-align: center; 
    margin:0px;
  } 
  
  .zoom_overlay{
    width:100%;
    height: 100%;
    margin:0; 
    padding:0;
    opacity: .6;
    filter:alpha(opacity=60);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color:#999999;
    /*background-image: url(steel.jpg);*/
  }
  
  .zoom_main img{position:absolute;bottom:0;right:0;left:0;margin:auto;}
  
  .zoom_close{
    position: fixed;
    display: inline-block;
    width:auto;
    z-index: 200;
  }

  .zoom_close img{
    width: 20px;
  }
  
  .zoom_close img :hover{
    cursor: pointer;
  }

  .zoom_close a{
    color: #6E6E6E;
  }

  .zoom_preview{
    display:block;
    width:200px;
    position:absolute;
    float:left;
    text-align:center;
    overflow: hidden;
  }

  .arrow{
    position:absolute;
    display:block;
    top:20px;
    height:50px;
    width:25px;
    background-color: #CCCCCC;
    opacity: .8 !important;
    filter:alpha(opacity=80);
    padding: 5px;
    background-repeat:no-repeat;
  }

  .arrow:hover{
    cursor: pointer;
  }

  .right_arrow{ 
    right:0px;
    background-image:url(images/rightArrow_sm.png);
    background-position: right center;
    moz-border-radius: 4px 0px 0px 4px;
    webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
  }

  .left_arrow{
    left:0px;
    background-image:url(images/leftArrow_sm.png);
    background-position: left center;
    moz-border-radius: 0px 4px 4px 0px;
    webkit-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
  }

  #staging{
    left:-9999px;
    bottom:0px;
    position:fixed;
  }